#formContainer{
  justify-content: center;
}

#lang{
  margin-top: 5%;
  margin-bottom: 5%;  
  font-size: 20px;
  font-weight: 500
}

#usernameInput{
  background-color: red;
}

a{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #0da2e7 !important;
}
a:hover {
  color: rgb(23, 107, 146) !important;
  text-decoration: none !important;
}

#olist, #recs{
  padding: 0
}

#repos{
  justify-content: center;
  margin-top: 6%
}

#formContainer {
  margin-top: 3%;
}
